<a href="https://colab.research.google.com/github/andresvosa/testNotebooks/blob/main/energy_analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
%matplotlib inline
import matplotlib.pyplot as plt

Getting data from imported csv file

In [18]:
data = []
d_2020 = pd.read_csv('/content/tarbimine.csv', skiprows=9, nrows=13, sep=';', decimal=',')
d_2020.columns.values[0] = '2020'
data.append(d_2020)
display(d_2020)
d_2021 = pd.read_csv('/content/tarbimine.csv', skiprows=25, nrows=13, sep=';', decimal=',')
d_2021.columns.values[0] = '2021'
data.append(d_2021)
display(d_2021)
d_2022 = pd.read_csv('/content/tarbimine.csv', skiprows=41, nrows=13, sep=';', decimal=',')
d_2022.columns.values[0] = '2022'
data.append(d_2022)
display(d_2022)

           2020  Päev (kWh)  Öö (kWh)  Kokku (kWh)
0       Jaanuar     436.410   458.897      895.307
1      Veebruar     451.744   496.671      948.415
2         Märts     445.112   529.966      975.078
3        Aprill     407.123   454.009      861.132
4           Mai     349.422   378.125      727.547
5         Juuni     226.309   175.161      401.470
6         Juuli     228.542   164.714      393.256
7        August     186.975   181.973      368.948
8     September     173.869   200.843      374.712
9      Oktoober     230.353   288.132      518.485
10     November     285.298   362.510      647.808
11    Detsember     604.925   544.214     1149.139
12  Aasta kokku    4026.082  4235.215     8261.297

           2021  Päev (kWh)  Öö (kWh)  Kokku (kWh)
0       Jaanuar     442.206   587.070     1029.276
1      Veebruar     393.548   432.299      825.847
2         Märts     433.152   426.566      859.718
3        Aprill     385.901   417.142      803.043
4           Mai     181.532   292.817      474.349
5         Juuni     124.019   150.535      274.554
6         Juuli     193.351   145.084      338.435
7        August     175.741   154.437      330.178
8     September     209.728   179.673      389.401
9      Oktoober     236.043   262.014      498.057
10     November     324.207   287.890      612.097
11    Detsember     298.392   296.398      594.790
12  Aasta kokku    3397.820  3631.925     7029.745

           2022  Päev (kWh)  Öö (kWh)  Kokku (kWh)
0       Jaanuar      49.138    57.436      106.574
1      Veebruar         NaN       NaN          NaN
2         Märts         NaN       NaN          NaN
3        Aprill         NaN       NaN          NaN
4           Mai         NaN       NaN          NaN
5         Juuni         NaN       NaN          NaN
6         Juuli         NaN       NaN          NaN
7        August         NaN       NaN          NaN
8     September         NaN       NaN          NaN
9      Oktoober         NaN       NaN          NaN
10     November         NaN       NaN          NaN
11    Detsember         NaN       NaN          NaN
12  Aasta kokku      49.138    57.436      106.574